@{
    ViewBag.Title = "Dashboard";
}

<div class="layout-content-body">
    <div class="title-bar">
        <h1 class="title-bar-title">
            <span class="d-ib icon icon-windows"></span>
            <span class="d-ib">Dashboard</span>
            
        </h1>
    </div>
</div>